
p {
    font-family: chivo, roboto, sans-serif;
    color: #e7c957;
    padding-left: 660px;
    padding-right:660px;
}

h1 {
  font-family: chivo, roboto, sans-serif;
  color: #e42827;
  padding-left: 660px;
  padding-right:660px;
}

article {
  margin: 0;
    font-family: raleway, verdana, sans-serif;
    color: #fff;
    background: #000;


}

body {
  margin: 0;
  margin-top: 0;
    font-family: raleway, verdana, sans-serif;
    color: #fff;
    background: #000;
    text-align: center;
}

a {
    color: #57bfb6;
  }
  a:hover {
    color: #e42827;
  }
  a:visited {
    color: #bb1171;
  }


@media screen and (max-width: 950px) {
  body {
    grid-template-columns: repeat(1, auto);
  }

}
