
p {
    font-family: chivo, roboto, sans-serif;
    color: #fff;

}

h1 {
  font-family: chivo, roboto, sans-serif;
  color: #e42827;

}

article {
  margin: 0;
    font-family: raleway, verdana, sans-serif;
    color: #fff;


}

body {
  margin: 0;
  margin-top: 0;
    font-family: raleway, verdana, sans-serif;
    color: #fff;
background: linear-gradient(#000, #666);
    text-align: center;
}

a {
    color: #57bfb6;
  }

a:hover {
    color: #e42827;
  }

a:visited {
    color: #bb1171;
  }

  .album-cover {
    cursor: pointer;
    opacity: 0.85;
  }

  .album-cover:hover {
        opacity: 1;
  }
